/* Header & Footer Padding */
header,
footer {
    padding: 2rem 8rem;
}

/* Header Styles */
header {
    background-color: #FFFAE1;
}

.header-top nav a {
    text-decoration: none;
    margin-left: 1.5rem;
}

.pawtners-link,
.products-link,
.training-link {
    color: black;
}

.header-top nav a:hover,
.products-link {
    font-weight: bold;
    color: #9D2B2B;
}

.products-button {
    font-size: 1.2rem;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: white;
    background-color: #9D2B2B;
    padding: 15px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.products-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.products-button:active {
    box-shadow: none;
}

.book-now-button {
    font-size: 1rem;
    font-family: Roboto;
    font-weight: bold;
    width: 120px;
    padding: 10px 12px;
    border: 2px solid #9D2B2B;
    border-radius: 50px;
    background-color: #FFE7CF;
    cursor: pointer;
}

.book-now-button:hover {
    color: white;
    background-color: #9D2B2B;
}
